@import '/src/styles/colors.scss';
@import '/src/styles/typography.scss';

.p-treetable {
  .p-treetable-header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .table-header-top {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: flex-end;

      .p-button {
        min-width: auto;
      }
    }

    .table-header-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .p-inputgroup {
      max-width: 300px;

      .p-inputgroup-addon {
        border: $border-default;
        border-left: 0;
        padding: 12px;
      }
    }

    .p-inputtext.p-component {
      border: $border-default;
      border-right: 0;
      padding: 10px;
    }
  }
}
