@import '/src/styles/colors.scss';
@import '/src/styles/typography.scss';

.multilang-modal {
  width: 50vw;
}

.languages {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .p-buttonset .p-button {
    @include caption;
    color: $grey-700;
    min-width: auto;
    padding: 6px 10px;
  }
}

.toolbar {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lang-input {
  width: 100%;
  .p-inputtext {
    width: 100%;
  }
}

.field {
  .p-inputtext {
    width: 100%;
  }
}
